#Section1{
  background-color: Teal;
}
#legend1{
  background-color: Teal;
}
#Section2{
  background-color: purple;
}
#legend2{
  background-color: purple;
}
#Section3{
  background-color: pink;
}
#legend3{
  background-color: pink;
}
